extends layout

block content
  br
  .container
    .row
      .col-12.col-sm-12.col-md-4
        h6.h6.white#startaddr #{startstop.startadd}
        p.p.white#start
        h6.h6.white#stopaddr #{startstop.stopadd}
        p.p.white#stop
        br
        form(action = "/savetrip", method = "GET",id="travelForm")
          div
            h4.white Please select your travel method:
            span.custom-dropdown
              select(name="travel",id="travelType",form="travelForm" required)
                option(selected="true" disabled="disabled") Choose...
                option(value='ped') Walk
                option(value='bike') Bike
                option(value='car') Car
                option(value='uber') Ridesharing Service
                option(value='hov') Carpool (HOV lane)
                option(value='pub') Public Transport
            span
              input.form-control(type='hidden' name="poll" id="pollute")
              input.form-control(type='hidden' name="startadd" id="startadder")
              input.form-control(type='hidden' name="stopadd" id="stopadder")
              input.form-control(type='hidden' name="duration" id="duration")
              input.form-control(type='hidden' name="distance" id="distance")
              input.form-control(type='hidden' name="distancevalue" id="distancevalue")

              input.form-control(type='hidden' name="wdistance" id="wdistance")
              input.form-control(type='hidden' name="bdistance" id="bdistance")
              input.form-control(type='hidden' name="cdistance" id="cdistance")
              input.form-control(type='hidden' name="pdistance" id="pdistance")
          br
          span
            button(type = "submit") Add Trip to Trip History
      .col-12.col-sm-12.col-md-8
        .d-none.pollwalk
          h5.h5.white Estimate trip time:
          p.p.white#walktime
          h5.h5.white Trip distance:
          p.p.white#walkdistance
          h5.h5.white Pollution created via Pedestrian Route (kg of CO2, any value below greater than 0 is due to a ferry ride in the itinerary):
          p.p.white#pedpoll
          h5.h5.white Pedestrian Route
          #peddirections.white
        .d-none.pollbike
          h5.h5.white Estimate trip time:
          p.p.white#biketime
          h5.h5.white Trip distance:
          p.p.white#bikedistance
          h5.h5.white Pollution created via Bicycle Route (kg of CO2):
          p.p.white#bikepoll
          h5.h5.white Bicycle Route
          #bikedirections.white
        .d-none.pollcar
          h5.h5.white Estimate trip time:
          p.p.white#cartime
          h5.h5.white Trip distance:
          p.p.white#cardistance
          h5.h5.white Pollution created via Car Route (kg of CO2):
          p.p.white#carpoll
          h5.h5.white Car Route
          #cardirections.white
        .d-none.polluber
          h5.h5.white Estimate trip time:
          p.p.white#ubertime
          h5.h5.white Trip distance:
          p.p.white#uberdistance
          h5.h5.white Pollution created via Rideshare(Uber,Lyft,etc.) Route (kg of CO2):
          p.p.white#uberpoll
          h5.h5.white Potential Rideshare Route
          #uberdirections.white
        .d-none.pollhov
          h5.h5.white Estimate trip time:
          p.p.white#hovtime
          h5.h5.white Trip distance:
          p.p.white#hovdistance
          h5.h5.white Pollution created via Carpool/HOV Route (kg of CO2):
          p.p.white#hovpoll
          h5.h5.white Carpool/HOV Route
          #hovdirections.white
        .d-none.pollpub
          h5.h5.white Estimate trip time:
          p.p.white#transtime
          h5.h5.white Trip distance:
          p.p.white#pubdistance
          h5.h5.white Pollution created via Public Transit Route (kg of CO2):
          p.p.white#pubpoll
          h5.h5.white Public Transit Route
          #pubdirections.white
