<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../public/css/index.css">
    <title>Negative Impact Trip Calculator</title>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../public/js/index.js" async defer></script>
</head>

<body>
    <form id="travel" action="/form" method="POST">
        <label for="travel">Trip</label>
        <p>
            <label for="start">Start:</label>
            <input type="text" form="travel" id="start" onkeydown="enter_key(this)" required>

            <label for="startlat">Latitude of starting point:</label>
            <input type="number" form="travel" id="startlat" min="-90" max="90">
            <label for="startlong">Longitude of starting point:</label>
            <input type="number" form="travel" id="startlong" min="-90" max="90">
        </p>
        <p>
            <label for="dest">Destination:</label>
            <input type="text" form="travel" id="dest" onkeydown="enter_key(this)" required>

            <label for="endlat">Latitude of end point:</label>
            <input type="number" form="travel" id="endlat" min="-180" max="180">
            <label for="endlong">Longitude of end point:</label>
            <input type="number" form="travel" id="endlong" min="-180" max="180">
        </p>
        <label for="direct_trip">Toggle direct trip mode:</label>
        <input type="checkbox" id="direct_trip">
        <br>
        <input type="submit" form="travel" id="calculate" name="calculate" value="Calculate">
        <p>
            <output form="travel" id="useroutput" for="calculate">
            </output>
        </p>
    </form>
</body>

</html>
