<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../public/css/index.css">
    <title>Negative Impact</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js">
    </script>
    <script src="../public/js/index.js" defer></script>
</head>

<body>
    
    <form id="travel" action="/form" method="POST">
            <label for="distance">Distance traveled: </label>
            <input type="number" form="travel" id="distance" name="distance" min="0" placeholder="Enter distance traveled here..." required><br>
            <label for="traveltype"> Type of travel used: </label>
            <select form="travel" name="traveltype" id="traveltype">{{#options}}
                    <option value="{{value}}" {{#selected}}selected{{/selected}}>
                        {{text}}
                    </option>
                {{/options}}
            </select>
            <input type="submit" form="travel" id="calculate" name="calculate" value="Calculate">
            <output form="travel" id="useroutput" for="calculate">
            </output>
    </form>

</body>

</html>
