<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>User Login</title>
      <link href="../public/css/login_style.css" rel="stylesheet">
      <script src="../public/js/register.js" defer></script>
   </head>

   <body>

        <form class = "register">
          <div id="login">
            <h1>Negative Impact</h1>
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            <input type="submit" value="Register" id="submit">
            <p class="createaccount"><a href = "register">Create Account</a></p>
          </div>

        </form>


   </body>
