extends layout

block content
  h3.white Add a New Trip
  form(action = "/tripdetails", method ="GET",id="startstop")
    .form-group
      label(for="startadd").white Start address
      input.form-control(type='text' name="startadd" aria-describedby='startAddressHelp' placeholder='Enter start address')
      small.form-text.text-white Full address including city, state and zip code
    .form-group
      label(for="stopadd").white Stop address
      input.form-control(type='text' name="stopadd" aria-describedby='stopAddressHelp' placeholder='Enter stop address')
      small.form-text.text-white Full address including city, state and zip code
    button.btn.btn-primary(type='submit') Submit
