doctype html
head
  meta(charset='UTF-8')
  title User Registration
  link(href='../public/css/login_style.css' rel='stylesheet')
  script(src='../public/js/register.js' defer='')
  #pasttrips
    h1 Past Trips
