<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>User Registration</title>
      <link href="../public/css/login_style.css" rel="stylesheet">
      <script src="../public/js/register.js" defer></script>
   </head>

   <body>

        <form class = "register">
          <div id="r">
          <div id="registration">
            <h1>Negative Impact</h1>
            <label for="fullName">Full Name</label>
            <input type="text" name="fullName" id="fullName">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            <label for="passwordConfirm">Confirm Password</label>
            <input type="password" name="passwordConfirm" id="passwordConfirm">
            <input type="submit" value="Register" id="submit">
          </div>
          <div id="formErrors">
              <ul id="u">
              </ul>
          </div>
        </div>
        </form>


   </body>
