body {
    margin: 200px;
    padding: 2px;
    background-color: #FFFAFA;
}

#travel {
    text-align: center;
    margin: 0 auto;
    width: 480px;
    height: 100%;
    border: 1px solid gray;
    background-color: #FFFAFA;
    font-family: serif;
}
#calculate {
    text-align: center;
    display: none;
    font-family: sans-serif;
    margin: 0 auto;

}

#dest {
    display: none;
}

label[for=dest] {
    display: none;
}

label[for=startlat] {
    display: none;
}
label[for=startlong] {
    display: none;
}
#startlat {
    display: none;
}
#startlong {
    display: none;
}
label[for=endlat] {
    display: none;
}
label[for=endlong] {
    display: none;
}
#endlat {
    display: none;
}
#endlong {
    display: none;
}
#direct_trip[type=checkbox] {
    width: 25px;
    height: 25px;
}
label[for=direct_trip]:hover {
     cursor:pointer;
     color:blue;
     text-decoration:underline;
}
