body {
    margin: 200px;
    padding: 2px;
    background-color: #FFFAFA;
}

#travel {
    text-align: center;
    margin: 0 auto;
    width: 350px;
    height: 100%;
    border: 1px solid gray;
    background-color: #FFFAFA;
    font-family: serif;
}
#traveltype {
    display: inline-block;
    font-family: sans-serif;
    margin: 0 auto;
}
#calculate {
    text-align: center;
    display: flex;
    font-family: sans-serif;
    margin: 0 auto;

}

#dest {
    display: none;
}

label[for=dest] {
    display: none;
}
