#h2title {
    text-align: center;
    color: white;
    width: auto;
    height: auto;
    margin: auto;
    font-size: 30px;
    background-color: #4E2E2D;
}

#travel {
    text-align: center;
    border: 1px;
    border-top: 1px solid #345ede;
    background-color: #dedede;
    margin-right: 10px;
    max-width: 40%;
}
#traveltype {
    display: inline-block;
    font-family: sans-serif;
}
#calculate {
    text-align: center;
    display: flex;
    font-family: sans-serif;

}

#stats {
    float: right;
}
