
input{
	border: 1px solid #aaa;
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
  display: block;
	font-size: 20px;
	font-family: ariel;
}

label{
	font-size: 17px;
}

h1{
	display: center;
	font-size: 45px;
	text-shadow: 2px 2px 8px #8e1400;
}

ul{
	display:block;
	color :red;
}

body{
	background: url("../image/blur_pollution.png");
	background-size: cover;
}
.register{
	color:white;
 	position: absolute;
  top: 40%;
  left: 50%;
	margin-right: -50%;
  transform: translate(-50%, -50%);
	display:block;
	padding: 100px;
}
#formErrors{
  display: none;
	position: absolute;
	top: 100%;
  left: 50%;
	margin-right: -50%;
  transform: translate(-50%, -50%);
	font-size: 20px;
	border: 1px solid black;
}

#submit{
	color:white;
	background-color: green;
	float:right;
}

a{
	font-size: 20px;
}
a:link {
	color: green;
}
a:visited{
	color: green;
}
a:hover{
	color:#8e1400;
}
a:active{
	color: red;
}

.createaccount{
	font-size: 17px;
}
