body {background-color: #aaa;}

input, label {
	border: 1px solid #aaa;
	padding: 10px;
    display:block;
}

#formErrors{
  display: none;

}

ul{
	display:block;
	border: 2px solid rgb(255, 0, 0);
	color :rgb(255, 0, 0) ;
}
